---
import Target from './Target.astro'
import {range} from '~/scripts/utilities.js'

const {
  width = 500,
  height = 500,
  grid = false,
  axises = false,
  origin = false
} = Astro.props

const xTicks = range(0, width, 10)
const yTicks = range(0, height, 10)
---

<div class="relative">
  <svg class="h-100 bg-lightest" viewBox={`0 0 ${width} ${height}`}>
    {
      grid && (
        <Target as="g" name="grid">
          {xTicks.map(tick => (
            <line
              class="stroke-1 stroke-muted/20"
              x1={tick}
              y1="0"
              x2={tick}
              y2={height}
            />
          ))}
          {yTicks.map(tick => (
            <line
              class="stroke-1 stroke-muted/20"
              x1="0"
              y1={tick}
              x2={width}
              y2={tick}
            />
          ))}
        </Target>
      )
    }

    {
      axises && (
        <Target as="g" name="axises">
          <Target
            as="line"
            name="x-axis"
            class="stroke-4 stroke-yellow group-[.has-active]:not-[&.is-active]:stroke-dimmed [&.is-active]:stroke-8 transition-[stroke-width] duration-250 ease-in-out"
            x1="0"
            y1="2"
            x2="500"
            y2="2"
          />
          <Target
            as="line"
            name="y-axis"
            class="stroke-4 stroke-yellow group-[.has-active]:not-[&.is-active]:stroke-dimmed [&.is-active]:stroke-8 transition-[stroke-width] duration-250 ease-in-out"
            x1="2"
            y1="0"
            x2="2"
            y2="500"
            dx="2"
          />
        </Target>
      )
    }

    <slot />
  </svg>

  {
    origin && (
      <Target
        as="div"
        name="origin"
        class="absolute top-0 left-0 w-2xs h-2xs rounded-full bg-muted [&.is-active]:scale-125 transition-[scale] duration-250 ease-in-out"
      />
    )
  }
</div>

<style>
  [data-target='origin'] {
    translate: calc(-50% + 2px) calc(-50% + 2px);
  }
</style>
